// Breadcrumb max width 128px
$breadcrumb-max-width: $grid-size * 16;

.gl-breadcrumbs {
  @include gl-display-flex;
}

.gl-breadcrumb-list {
  @include gl-bg-transparent;
  @include gl-p-0;
  @include gl-align-items-center;
  @include gl-line-height-normal;
  @include gl-m-0;
  @include media-breakpoint-down(xs) {
    @include gl-flex-wrap;
  }
}

// bootstrap overrides
.gl-breadcrumb-item {
  @include gl-font-sm;
  @include gl-line-height-normal;

  &:not(:last-child)::after {
    @include gl-text-gray-200;
    @include gl-px-3;
    content: '/';
  }

  > a {
    @include gl-text-gray-700;
    @include media-breakpoint-down(xs) {
      @include str-truncated($breadcrumb-max-width);
    }

    &:active,
    &:focus,
    &:focus:active {
      @include gl-focus($outline: true);
    }
  }
}

.gl-breadcrumb-item:last-child > a {
  @include gl-text-gray-900;
  @include gl-font-weight-bold;
}
